:root {
  --hacker-green: #00FF00;
  --section-bg: rgb(0, 16, 17);
  --button-bg: rgb(32, 39, 39);
}


body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: black;
  color: var(--hacker-green);
  margin: 0;
  padding: 20px;
}

#logo {
  width: 40px;
  height: auto;
}

h1, #game-intro {
  color: var(--hacker-green);
  text-align: center;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid var(--hacker-green); /*pseudo-cursor*/
  white-space: nowrap;
  animation: typing 2s steps(30, end), blink 1.5s step-end infinite;
  font-size: 2rem;
}

@keyframes typing { /*animates width of typewriter element*/
  from { width: 0ch; } /*use characters rather than width so cursor stays where it should*/
  to { width: 25ch; }
}

@keyframes blink { /*animates right border (cursor) blinking*/
  50% {border-color: transparent;}
}

#language-prompt{
  display: inline-block;
  width: 100%;
}

#language-choices {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background-color:var(--section-bg);
}

button{
  background-color: var(--button-bg);
  color: var(--hacker-green);
  border: 1px solid var(--hacker-green);
  border-radius: 8px;
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 10px 20px;
}

button:hover {
  background-color: var(--hacker-green);
  color: black;
}

form {
  display: inline-block;
  background-color: var(--section-bg);
  margin-top:10px;
  padding: 1em;
}

.form-field{
  margin-bottom: 1em;
}

.form-field label {
  display: inline-block;
  width: 100%;

}

.form-field input,
.form-field textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing:border-box;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--hacker-green);
}

.button {
  padding-left: 90px;
}